<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>URL_DOMAIN_BOC_PAY</key>
	<string>ewa.bochk.com/bocpay</string>
	<key>APP_STORE_URL_BOC_PAY</key>
	<string>itms-apps://itunes.apple.com/hk/app/apple-store/id1403690384?mt=8</string>
	<key>URL_DOMAIN_BOCHK</key>
	<string>ewa.bochk.com</string>
	<key>URL_SCHEME_BOC_PAY</key>
	<string>ewabocpay://</string>
</dict>
</plist>
